$superRed: #AF2F19;
$superDark: #1A1A1A;
$superBlue:#61B6FA;
$superCream: #ffffec;
$primary: $superRed;
$secondary: $superBlue;
$dark: $superDark;



$headings-font-family:        "Roboto Slab", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight: 700;


@import '../node_modules/bootstrap-scss/bootstrap.scss';

@mixin categoryTag ($bgcolor, $color) {
    color: $color;
    background-color: $bgcolor;
    font-weight: bold;
    padding: ($spacer * .25);
    display: inline-block;
   
}

@mixin cardBorder ($borderColor) {
    border: 3px solid $borderColor;
}



body a {
    font-weight: bold;
}

#header-row, #footer-row {
    background: $superDark;
    @include media-breakpoint-down(xs){
        text-align: center;
    }

        h1 {
            color: $primary;    
        }

        h3 {
            color: $secondary;
            @include media-breakpoint-up(sm){
                margin-left: 1rem;
            }  
        }

        img.ego {
            border-radius: 100%;
            @include media-breakpoint-down(xs){

                    max-width: 75%;
                    
                }
            }
        
    }
    

.course, .tech, .tool {
    @include categoryTag($dark, $secondary);
}

        
#hero-row .jumbotron {
    
    color: $dark;
    border: {

        left: 15px solid $dark;

    }

    div.hr {

        border-top: 1px solid $superDark;
        margin: ($spacer * 3);
        
        }

    
}

nav.navbar {
    font-family: $headings-font-family;
}

#above-footer-row {
    border-top: 5px dashed $dark;
}


.display-1 {
    font-size: $display2-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;

    @include media-breakpoint-down(md) {
        // Smaller than md: 768px
        font-size: $display2-size;
    }

    @include media-breakpoint-down(sm) {
        font-size: $display4-size;
    }

  }

.toolCard {
    @extend .card;
    @include cardBorder($dark);

    p#bootlegstrap {
        font-size: 5rem;
        font-weight: 900;

        span {
            border: 3px solid $dark;
            border-radius: 5px;
            padding: 5px;
        }
    }

    
}
